{% extends "base.html" %}

{% block head %}
<title>CarPlace | Главная</title>
<meta name="description" content="Лучшее, что может быть.">
{% endblock %}

{% block content %}
{% load static %}
{% load thumbnail %}

<!--Main layout-->
<main class="my-5">
  <div class="container">

    <!-- Services -->
    <section class="text-center">
      {% if language == 'kz' %}
      <h4 class="mb-4"><strong>Қызметтер</strong></h4><hr/><br/>
      {% else %}
      <h4 class="mb-4"><strong>Услуги</strong></h4><hr/><br/>
      {% endif %}

      <div class="row">

        {% for service in services %}
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="{{ service.category.image|thumbnail_url:'main' }}" class="img-fluid" />
              <a href="{% url 'main:detail' 'services' service.pk %}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              {% if language == 'kz' and service.name_kz and service.description_kz %}
                  <h4 class="card-title"><a href="{% url 'main:detail' 'services' service.pk %}">{{ service.name_kz }}</a></h4><hr/>
                  <h5 class="card-text"><a href="{% url 'main:by_category' 'services' service.category.pk %}">{{ service.category.name_kz }}</a></h5><hr/>
                  <h5 class="card-text">{{ service.description_kz|truncatewords:50 }}</h5><hr/>
              {% else %}
                  <h4 class="card-title"><a href="{% url 'main:detail' 'services' service.pk %}">{{ service.name }}</a></h4><hr/>
                  <h5 class="card-text"><a href="{% url 'main:by_category' 'services' service.category.pk %}">{{ service.category.name }}</a></h5><hr/>
                  <h5 class="card-text">{{ service.description|truncatewords:50 }}</h5><hr/>
              {% endif %}
              <h5 class="card-text">{{ service.price }}₸</h5><hr/>
              {% if language == 'kz' %}
                  {% if service.duration %}
                  <h5 class="mb-4">Жұмыс уақыты: {{ service.duration }} мин.</h5>
                  {% endif %}
                  <a href="{% url 'main:detail' 'services' service.pk %}" class="btn btn-primary">Толығырақ</a>
              {% else %}
                  {% if service.duration %}
                  <h5 class="mb-4">Время выполнения: {{ service.duration }} мин.</h5>
                  {% endif %}
                  <a href="{% url 'main:detail' 'services' service.pk %}" class="btn btn-primary">Подробнее</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>
    <!-- Services -->

    <br/>

    <!-- Products -->
    <section class="text-center">
      {% if language == 'kz' %}
      <h4 class="mb-4"><strong>Тауларлар</strong></h4><hr/><br/>
      {% else %}
      <h4 class="mb-4"><strong>Товары</strong></h4><hr/><br/>
      {% endif %}

      <div class="row">

        {% for product in products %}
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              {% if product.category.image %}
              <img src="{{ product.category.image|thumbnail_url:'main' }}" class="img-fluid" />
              <a href="{% url 'main:detail' 'products' product.pk %}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
              {% endif %}
            </div>
            <div class="card-body">
              {% if language == 'kz' and product.name_kz and product.description_kz %}
                  <h4 class="card-title"><a href="{% url 'main:detail' 'products' product.pk %}">{{ product.name_kz }}</a></h4><hr/>
                  <h5 class="card-text"><a href="{% url 'main:by_category' 'products' product.category.pk %}">{{ product.category.name_kz }}</a></h5><hr/>
                  <h5 class="card-text">{{ product.description_kz|truncatewords:50 }}</h5><hr/>
              {% else %}
                  <h4 class="card-title"><a href="{% url 'main:detail' 'products' product.pk %}">{{ product.name }}</a></h4><hr/>
                  <h5 class="card-text"><a href="{% url 'main:by_category' 'products' product.category.pk %}">{{ product.category.name }}</a></h5><hr/>
                  <h5 class="card-text">{{ product.description|truncatewords:50 }}</h5><hr/>
              {% endif %}
              <h5 class="card-text">{{ product.price }}₸</h5><hr/>
              {% if language == 'kz' %}
                  {% if product.in_stock == True %}
                  <h5 class="mb-4">Қоймада бар</h5>
                  {% else %}
                  <h5 class="mb-4">Қоймада жоқ</h5>
                  {% endif %}
                  <a href="{% url 'main:detail' 'products' product.pk %}" class="btn btn-primary">Толығырақ</a>
              {% else %}
                  {% if product.in_stock == True %}
                  <h5 class="mb-4">Есть в наличии</h5>
                  {% else %}
                  <h5 class="mb-4">Нет в наличии</h5>
                  {% endif %}
                  <a href="{% url 'main:detail' 'products' product.pk %}" class="btn btn-primary">Подробнее</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>
    <!-- Products -->

    <hr/>
  </div>
</main>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      <div class="col-md-5 p-lg-5 mx-auto my-5">
          {% if language == 'kz' %}
          <h1 class="display-4 font-weight-normal">Біздің орналасқан жеріміз:</h1>
          <p class="lead font-weight-normal">
          <b>Мекен-жайы:</b> Қазақстан Республикасы, Алматы қ., көш. Б. Момышұлы 9Б<br/>
          </p>
          {% else %}
          <h1 class="display-4 font-weight-normal">Наше местоположение:</h1>
          <p class="lead font-weight-normal">
          <b>Адрес:</b> Республика Казахстан, г. Алматы, ул. Б. Момышулы 9Б<br/>
          </p>
          {% endif %}
      </div>

      <div class="col-md-5 p-lg-5 mx-auto my-5">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.560844447748!2d76.83566447608223!3d43.218699571126024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836832bc8ccd67%3A0x2645b64e53b32050!2sBaurzhan%20Momyshuly%20Street%209%2C%20Almaty!5e0!3m2!1sen!2skz!4v1696318259784!5m2!1sen!2skz" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
